.App {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 30%;
  color: white;
  
}

ul {
  list-style-type: none;
}


.btn{
  background-color:#FAE546;
  color: black;
  
}

.guess {
  margin-left: 5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  grid-auto-rows: 2em;
  gap: 2em;
}

.questions {
  grid-column: span 2;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #3A7EFD;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li {
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 14px 16px;
}

/* Change the color of links on hover */
.topnav li:hover {
  background-color: #3A95FD;
}

/* Add a color to the active/current link */
.topnav li.active {
  background-color: #04AA6D;
}

.navLink{
  text-decoration: none;
  font-size: 20px;
  color:black
}

.show{
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

#game-message {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  height: 150px;
  width: 60%;
  visibility: hidden;
}

#game-text {
  position: absolute;
  left: 5%;
  text-align: center;
}